$primary: #A2FDDA;
$secondary: #FE7D81;
$tertiary: #1D3242;
$text: #D1E0DB;
$primpop: #60FFC7;

body {
    h1, h2 {
        font-family: Josefin Sans, cursive;
    }

    nav, p {
        font-family: Roboto, cursive;
        font-size: 20px;
    }

    ul, li {
        font-size: 18px;
    }
}

img {
    height: 450px;
}

.idk, .idk2, .idk3 {
    display: none;
}

.title {
    height: 50vh;
    background-color: $primary;
    position: relative;
    
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    h1 {
      text-align: center;
      color: $tertiary;
    }
    
    hr {
      width: 25%;
    }
  }

  .summary {
      padding-bottom: 60px;
      width: 70%;
      margin: 0 auto;
  }
  
.research {
    padding-top: 30px;
}

.text {
    padding: 30px 0;
    
    h1 {
      text-align: center;
      color: #1D3242;
    }
    
    hr {
      width: 12.5%;
    }

    // Tablefeed
    .tablefeed {
        padding: 60px 0;
    }
  
    // Menu
    .menu {
        padding-bottom: 60px;
    }
  
    .design {
        background-color: #f8f8f8;
        padding-top: 60px;

        .update {
            padding-top: 60px;
        }
    
        .col-md-4 {
            text-align: center;
        }
    }
}

.updated {
    text-align: center;
    padding-bottom: 60px;

    img {
        display: block;
        margin: 0 auto;
    }

    ul {
        list-style: none;
    }

    p {
        width: 70%;
        margin: 0 auto;
    }
}